:root {
  font-family: sans-serif;
  --tileBackground: #222;
  --tileBorderRadius: 5px;
  --tileWidth: 3em;
  --tileHeight: 1.75em;
  --pileBackground: #eee;
}

html {
  background-color:var(--pileBackground);
  background-image:
  radial-gradient(circle at 100% 150%, var(--pileBackground) 24%, white 25%, white 28%, var(--pileBackground) 29%, var(--pileBackground) 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, var(--pileBackground) 24%, white 25%, white 28%, var(--pileBackground) 29%, var(--pileBackground) 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, var(--pileBackground) 11%, var(--pileBackground) 23%, white 24%, white 30%, var(--pileBackground) 31%, var(--pileBackground) 43%, white 44%, white 50%, var(--pileBackground) 51%, var(--pileBackground) 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, var(--pileBackground) 6%, var(--pileBackground) 15%, white 16%, white 20%, var(--pileBackground) 21%, var(--pileBackground) 30%, white 31%, white 35%, var(--pileBackground) 36%, var(--pileBackground) 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, var(--pileBackground) 6%, var(--pileBackground) 15%, white 16%, white 20%, var(--pileBackground) 21%, var(--pileBackground) 30%, white 31%, white 35%, var(--pileBackground) 36%, var(--pileBackground) 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size: 32px 16px;
}

game {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: calc(var(--tileBorderRadius) * -1);
}

pile tiles {
  display: inline-flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}

pile, hand {
  display: inline-block;
  background: var(--pileBackground);
  padding: calc(var(--tileBorderRadius) * 2);
  border-radius: var(--tileBorderRadius);
  margin: var(--tileBorderRadius);
  border: 1px solid #ccc;
}

hand header, pile header {
  margin-bottom: var(--tileBorderRadius);
}

tiles {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

hand tiles + tiles {
  margin-top: var(--tileHeight);
}

tile {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: var(--tileWidth);
  height: var(--tileHeight);
  box-shadow: inset 0 0 7px black;
  background: var(--tileBackground);
  border-radius: var(--tileBorderRadius);
}

[title~=tapped] {
  flex-direction: column;
  width: var(--tileHeight);
  height: var(--tileWidth);
  margin-top: 0;
}

tile:before, tile:after {
  flex: 1;
  text-align: center;
}

tile:before {
  font-weight: bold;
  font-size: 110%;
}

[title~='1']:before {
  content: '1';
}

[title~='2']:before {
  content: '2';
}

[title~='3']:before {
  content: '3';
}

[title~='4']:before {
  content: '4';
}

[title~='5']:before {
  content: '5';
}

mark {
  background: transparent;
  margin-top: calc(var(--tileHeight)*-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

mark:before {
  content: '☛';
  font-size: 180%;
  transform: rotate(70deg);
  color: var(--tileBackground);
  text-shadow: -1px -1px 0 var(--pileBackground),
                1px -1px 0 var(--pileBackground),
               -1px  1px 0 var(--pileBackground),
                1px  1px 0 var(--pileBackground);
}

[title~=tapped][title~=hidden] {
  flex-flow: row;
}

[title~=hidden]:before {
  content: '⛩';
}

[title~=yellow] {
  color: yellow;
}

[title~=yellow]:after {
  content: '🌼';
}

[title~=blue] {
  color: deepskyblue;
}

[title~=blue]:after {
  content: '⚘';
  font-size: 160%;
}

[title~=green] {
  color: lightgreen;
}

[title~=green]:after {
  content: '☘'
}

[title~=red] {
  color: deeppink;
}

[title~=red]:after {
  content: '🌹';
}

[title~=white] {
  color: ghostwhite;
}

[title~=white]:after {
  content: '❀';
  font-size: 140%;
}

[title~=rainbow] {
  color: ghostwhite;
}

[title~=rainbow]:after {
  content: '🌈';
}

main {
  display: flex;
  background: var(--pileBackground);
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

body > header {
  background: var(--pileBackground);
  padding: calc(var(--tileHeight)/2) calc(var(--tileWidth)/2);
}

nav {
  flex: 0 0 calc(var(--tileWidth) * 4);
}

article {
  border-radius: var(--tileBorderRadius) 0 0 0;
  background: white;
  padding: 0 var(--tileHeight);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
  --space: calc(var(--tileHeight) / 2);
  margin: 0 var(--space) var(--space) var(--space);
  padding: var(--space);
}

.current {
  background: white;
  border-radius: var(--tileBorderRadius);
}
