---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
  <link rel="stylesheet" href="styles.css"/>
  <title>Hanabi How To - {{page.title}}</title>
</head>
<body>
  <header><h1>How to be great at Hanabi</h1></header>
  <main>
    <nav>
      <ul>
        {% assign sorted_pages = site.pages | sort: 'order' %}
        {% for p in sorted_pages %}
          {% if p.order %}
            {% if p.url == page.url %}
              <li class="current">{{p.title}}</li>
            {% else %}
              <li><a href="{{p.url | prepend: site.github.url }}">{{p.title}}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <article>
      <h2>{{page.title}}</h2>
      {{content}}
    </article>
  </main>
</body>
</html>
